<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <ol id="cources"></ol>
</div>
@section scripts
{
    <script>
        $.ajax({
            url: 'api/Courses',
            success: function (cources) {
                debugger;
                var list = $('#cources');
                for (var i = 0; i < cources.length; i++) {
                    var cource = cources[i];
                    list.append('<li>' + cource.title + '</li>');
                }
            }

        });
    </script>
}


